body {
    margin: 0; 
    background-color: white; 
    font-family: "Arial", sans-serif; 
    background-color: #F9F8F6; 
    width: 100%; 
}



nav {
    background-color: lightgrey; 
    position: sticky; 
    top: 0; 
    z-index: 100; 
    display: flex; 
    align-items: center; 
    padding: -1px 22px; 
    width: 100%; 
    height: 10%; 
    justify-content: space-between; 
}

nav .logo-container {
    width: 10%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    transform: translateX(-0.5rem); 
}

.logo-stack {
    position: relative; 
    width: 90%; 
    height: 90%; 
    clip-path: circle(27.5%); 
} 

.logo-stack img {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0%; 
    left: 0; 
    object-fit: contain; 
}

nav .brand {
    display: flex; 
    justify-content: left; 
    color: white; 
    position: relative; 
    left: -13.5%; 
    font-size: 1.35rem; 
}

nav .nav-links {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end; 
    flex-grow: 1; 
    padding-right: 30px; 
} 

nav button {
    color: #fff; 
    text-decoration: none; 
    margin: 0px 0px; 
    border: 0px; 
    background-color: transparent; 
    font-size: 1.1rem; 
    min-width: 0%; 
    height: 70%; 
    border-radius: 50% / 100%;
    flex: 0 0 auto; 
    padding: 0 17.5px; 
} 

nav button:hover {
    transition: 0.2s ease-in; 
    background-color: rgb(196, 196, 196); 
    color: black; 
}



.homeintro {
    position: relative; 
    width: 100%; 
    height: auto; 
} 

.homeintro span {
    position: relative; 
    display: inline-block; 
    font-size: 1.24rem; 
    width: 23%; 
    left: 8%; 
    transform: translateY(50%); 
    font-family: "Arial Narrow", Arial, sans-serif; 
    font-weight: 100; 
} 

.homeintro button {
    position: relative; 
    border-width: 0.08rem; 
    border-radius: 50% / 100%; 
    width: 6%; 
    height: 6%; 
    font-size: auto; 
    transform: translateY(290%); 
    left: -15.5%; 
} 

.homeintro p {
    display: block; 
    font-size: 7rem; 
    transform: translateY(9.5rem); 
    margin: 0 auto; 
    text-align: center; 
    width: 88%; 
    font-weight: 600; 
    background: linear-gradient(to right, black, #938BE1, black); /* color1 → color2 → color1 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}



.homeaboutus {
    position: relative; 
    transform: translateY(22rem); 
    width: 100%; 
    height: auto; 
    text-align: center; 
    padding-bottom: 10%; 
} 

.homeaboutus h1{
    width: 100%; 
    display: block;
    font-size: 3.7rem; 
} 

.homeaboutus .homeaboutus-grid-container {
    position: relative; 
    width: 85%; 
    margin: auto; 
} 

.homeaboutus .homeaboutus-top-grid-container {
    width: 100%; 
    aspect-ratio:3.5/1;
    display: flex; 
    justify-content: space-between; 
} 

.homeaboutus .homeaboutus-top-box {
    width: 48%; 
    height: 100%; 
    background-color: #f0f0f0; 
}

.homeaboutus .homeaboutus-top-grid-container #homeaboutus-top-left-box{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-size: 3.5rem; 
    font-weight: 600; 
    gap: 1.5rem; 
} 

.homeaboutus .homeaboutus-top-grid-container #homeaboutus-top-left-box button{
    color: black; 
    background-color: transparent; 
    font-size: 1.1rem; 
    width: 20%; 
    height: 15%; 
    border-radius: 50% / 100%;
    flex: 0 0 auto; 
    padding: 0 17.5px; 
    border: 0.1rem solid black; 
    border-color: black; 
} 

.homeaboutus .homeaboutus-top-grid-container #homeaboutus-top-left-box button:hover {
    transition: 0.2s ease-in; 
    background-color: #e0e0e0; 
}

.homeaboutus .homeaboutus-top-grid-container #homeaboutus-top-right-box{
    display: flex; 
    background: linear-gradient(to bottom, #d3daf6, #f0f0f0 70%); 
} 

.homeaboutus .homeaboutus-top-grid-container #homeaboutus-top-right-box #homeaboutus-top-right-box-circle{
    width: 33%; 
    aspect-ratio: 1/1; 
    border-radius: 50%;
    background: #f0f0f0; 
    margin: auto; 
    align-items: center;
} 

.homeaboutus .homeaboutus-bottom-grid-container {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    transform: translateY(1rem); 
} 

.homeaboutus .homeaboutus-bottom-grid-container .homeaboutus-bottom-box {
    width: calc(92.5% / 3); 
    aspect-ratio: 1.5/1; 
    background: #f0f0f0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    flex-direction: column; 
} 

.homeaboutus .homeaboutus-bottom-grid-container .homeaboutus-bottom-box p {
    font-size: 1.1rem; 
    width: 80%; 
} 

.homeaboutus .homeaboutus-bottom-grid-container .homeaboutus-bottom-box h2 {
    font-size: 1.4rem; 
    width: 100%; 
    transform: translateY(45%); 
} 

.homeaboutus .homeaboutus-bottom-grid-container .homeaboutus-bottom-box img {
    width: calc(46/1397); 
    aspect-ratio: 23/24;
    overflow: hidden; 
    position: relative; 
    transform: translateY(25%); 
}



.homeupcoming {
    position: relative; 
    transform: translateY(25rem); 
    display: flex; 
    width: 85%; 
    height: 110%; 
    margin: auto; 
    background: transparent; 
    justify-content: center; 
} 

.homeupcoming .homeupcoming-description { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    width: 33%; 
} 

.homeupcoming .homeupcoming-description h2 {
    font-size: 4rem; 
} 

.homeupcoming .homeupcoming-description p {
    font-size: 1.1rem; 
    transform: translateY(-1rem); 
} 

.homeupcoming .homeupcoming-description button {
    color: black; 
    background-color: transparent; 
    font-size: 1rem; 
    width: 25%; 
    height: 7%; 
    border-radius: 50% / 100%;
    flex: 0 0 auto; 
    padding: 0 17.5px; 
    border: 0.1rem solid black; 
    border-color: black; 
    text-align: center; 
} 

.homeupcoming .homeupcoming-description button:hover {
    transition: 0.2s ease-in; 
    background-color: #ebebeb; 
} 

.homeupcoming .homeupcoming-grid-container {
    width: 67%; 
    background: transparent; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-left: auto; 
    display: flex; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid {
    width: 90%; 
    height: 100%; 
    background: transparent; 
    margin: auto; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-left-grid {
    width: 48%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-left-grid #homeupcoming-left-top-box{
    width: 100%; 
    height: 48%; 
    background: #f0f0f0; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-left-grid #homeupcoming-left-bottom-box{
    width: 100%; 
    height: 48%; 
    background: #f0f0f0; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-right-grid {
    background: transparent; 
    width: 48%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-right-grid #homeupcoming-right-top-box {
    width: 100%; 
    height: 48%; 
    background: #f0f0f0; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid .homeupcoming-right-grid #homeupcoming-right-bottom-box {
    width: 100%; 
    height: 48%; 
    background: #f0f0f0; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid h3 {
    font-size: 1.4rem; 
    padding-left: 10%; 
    padding-top: 24%; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid p {
    font-size: 1.05rem; 
    padding-left: 10%; 
    width: 81%; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid img {
    float: right; 
    padding-right: 7%; 
    padding-top: 7%; 
} 

.homeupcoming .homeupcoming-grid-container .homeupcoming-grid button {
    transform: translateX(36%); 
    background-color: transparent; 
    border: 0; 
    font-size: 0.8rem; 
} 